hr {
    border: 0;
    height: 2px;
    background: linear-gradient(90deg, transparent, #0000ff, transparent);
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    width: 100%;
}

hr.big-divider {
    height: 4px;
    background: linear-gradient(90deg, transparent, #ff0000, transparent);
}